body {
  background-color: #b6d3e4;
  font-family: 'Kurale', serif;
  margin: 0;
  padding: 0;
}

.game-app {
  margin-top: 5rem;
}

.game-title {
  text-align: center;
  font-size: 5em;
  margin: 1rem 0;
}
