button {
  background: #517988;
  border-radius: 6px;
  border: none;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 1em auto 6em;
  outline: none;
  padding: 12px 20px;
  width: 200px;
}

button:hover {
  background-color: #fff;
  color: #40616e;
  cursor: pointer;
  transition: background-color 0.3s;
}
